<p>Use this table to find blocks that have the HTTP Client Error Status Block
Condition plugin enabled, allowing you to manually switch over from using this
module and use the core visibility options.</p>
<p>Please note the core visibility plugin doesn't provide the negated option,
or the status code 401.</p>
<p>However the negated option isn't required, as core provides status codes 200,
 403 and 404 to the same logic can still be achieved - excluding the 401.</p>
<p>If there is a potential conflict, this is indicated. This happens when you
have configured visibility with core AND this module. Please manually review.
</p>
<p>Once you have removed all uses of the block condition provided by this
module, it is safe to uninstall.</p>
{{ data }}
